:root {
  --color-fg: #000;
  --color-bg: #fff;
  --color-bg-secondary: #f5f5f5;

  @media (prefers-color-scheme: dark) {
    --color-fg: #fff;
    --color-bg: #000;
    --color-bg-secondary: #252525;
  }
}

body {
  font-family: Inter, sans-serif;
  margin: 0;
  color: var(--color-fg);
  background-color: var(--color-bg);
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 1.8em;

  @media (max-width: 768px) {
    font-size: 1.6em;
  }
}

h2 {
  font-size: 1.3em;
  font-weight: normal;

  @media (max-width: 768px) {
    font-size: 1.1em;
  }
}
